.educ-item{
    margin: 2.5rem auto;
    width: 60vw;
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.educ-items{
    margin: 0 auto;
    width: 65vw;
    padding: 0 30px;
    border-left: 2px solid var(--color-primary);
}

.date{
    color: var(--color-primary);
}

.educ-item:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

@media screen and (max-width: 600px){
    .info{
        font-size: 1.5rem;
    }
}
